@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    text-align: center;
    font-size: 2rem;
    background-color: #34495e;
    color: #ecf0f1;
    padding: .7rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    max-width: 80vw;
    margin: 1rem auto;
}
h2 {
    margin-left: 1rem;
    font-size: 1.1rem;
    background-color: #485460;
    color: #ecf0f1;
    padding: .4rem;
    text-transform: capitalize;
    border-radius: 10px;
    margin-top: 1rem;
    max-width: 30vw;
    text-align: center;
}


.Link {
    font-size: 1.2rem;
    background-color: ;
    /* 14 bg-gradient-to-r from-cyan-500 to-blue-500 */
    color: #c8d6e5;
    margin: 2rem;
    padding: .7rem 2.5rem;

}


li{
    margin: 1rem 0 0 1rem;
    
}
